<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client - Liberty</title>
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/liberty.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Liberty Call Center</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-cubes fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-rss-square fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-pie-chart fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-power-off fa-fw"></i>
                    </a>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="#" onclick="ShowModal();"><i class="fa fa-edit fa-fw"></i> Capture Details</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-bullseye fa-fw"></i> Saving Goals</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-beer fa-fw"></i> Holiday Check</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-certificate fa-fw"></i> Cashback</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-fire fa-fw"></i> Emergency</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-gamepad fa-fw"></i> Own your life</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-cube fa-fw"></i> Life Plan</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-female fa-fw"></i> Family</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-flask fa-fw"></i> Risks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)

</body>
</html>
